.card--instructions {
  padding: 2rem 0 4rem 0;
}

.center-in-card {
  margin: auto;
}

.instructions {
  text-align: left;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

kbd {
  display: inline-block;
  background-color: #f7f7f7;
  border: 2px solid #ddd;
  margin: 0 .25rem;
  padding: 0 .125rem;
  border-radius: .25rem;
}
