.educators_batches.show {
  /* ----- MAIN ----- */
  color: #616161;
  background: image-url("bg-pattern.png") repeat /*fixed*/;

  h2 {
    margin: 32px 0 8px 0;
  }
  /* ----- HEADER ----- */
  #header {
    height: 64px;
    width: 100%;
    border-bottom: 2px solid #e9e9e9;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 9999;
  }
  #header .header-logo {
    height: 32px;
    float: left;
    padding: 16px 0;
  }
  #header .header-logo:hover {
    opacity: 0.8;
  }
  #header .profile {
    float: right;
    height: 100%;
    padding: 16px 8px;
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
  }
  #header .profile * {
    -webkit-transition: all 500ms cubic-bezier(0.000, 0.000, 0.065, 0.960);
    -moz-transition: all 500ms cubic-bezier(0.000, 0.000, 0.065, 0.960);
    -o-transition: all 500ms cubic-bezier(0.000, 0.000, 0.065, 0.960);
    transition: all 500ms cubic-bezier(0.000, 0.000, 0.065, 0.960);
  }
  #header .profile a {
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin: 16px 0 0 12px;
    opacity: 0;
    color: #49c6ad;
  }
  #header .profile a:hover {
    text-decoration: underline;
  }
  #header .profile:hover {
    background-color: white;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.1), 0 2px 5px 0 rgba(0,0,0,0.1);
    height: 216px; /* CHANGE HEIGHT OF DROP DOWN */
  }
  #header .profile:hover a {
    opacity: 1;
    margin: 16px 0 0 0;
  }
  #header .profile:hover .profile-arrow {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
  }
  #header .profile-icon {
    height: 32px;
    width: 32px;
    float: right;
    border-radius: 100%;
    text-align: center;
    font-size: 22px;
    color: white;
    line-height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 32px;
    cursor: pointer;
  }
  #header .profile-text {
    float: right;
    line-height: 32px;
    margin: 0 4px 0 8px;
    cursor: pointer;
    max-width: 104px;
    height: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #header .profile-break {
    padding-top: 40px;
  }
  #header .profile-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #616161;
    opacity: 0.5;
    margin-top: 14px;
    float: right;
  }
  /* ----- CONTENT ----- */
  #content {
    position: relative;
    width: 100%;
    min-height: calc(80% - 16px);
    height: auto !important;
    margin-top: 80px;
    border-radius: 4px;
  }
  #content:after {
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  #content .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 492px;
    background: #FAFAFA;
  }
  #content .thin {
    width: 12px;
    height: 240px;
    left: 296px;
  }
  #content .card {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #e9e9e9;
    background: white;
    box-sizing: border-box;
    position: relative;
  }
  #content .full {
    display: inline-block;
    width: 100%;
    height: 492px;
    min-height: 492px;
  }
  #content .flex {
    height: auto !important;
    min-height: 492px;
  }
  #content .flex:after {
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  #content .left {
    float: left;
    width: 296px;
    height: 488px;
  }
  .left .card {
    height: 240px;
    margin-bottom: 12px;
  }
  #content .right {
    float: right;
    width: 612px;
    height: auto;
  }
  .card h1 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    margin: 0;
  }
  .card h2 {
    font-size: 12px;
    line-height: 20px;
    margin: 0;
  }
  .card h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    margin: 0;
    width: 200px;
    height: 92px;
  }
  #template-card {
    padding: 32px;
  }
  .input-short {
    width: 160px;
    display: inline-block;
  }
  .input-label {
    display: inline-block;
    min-width: 120px;
  }
  /* ----- DASHBOARD CARD ----- */
  .after-test {
    padding: 32px;
  }
  .attribute {
    display: block;
    padding: 0;
    text-align: center;
    padding: 16px 0;
  }
  .attribute>li {
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 0 8px;
  }
  .attribute>li:before {
    content: attr(data-name);
    position: absolute;
    width: 100%;
    top: 88px;
    font-size: 12px;
    line-height: 16px;
    padding: 0 32px;
    box-sizing: border-box;
  }
  .attribute>li:after {
    content: attr(data-percent);
    position: absolute;
    width: 100%;
    top: 48px;
    left: 0;
    font-size: 2rem;
    text-align: center;
  }
  .attribute svg {
    width: 160px;
    height: 160px;
  }
  .attribute svg:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
  }
  .attribute svg:nth-child(2) path {
    fill: none;
    stroke-width: 25;
    stroke-dasharray: 629;
    stroke: rgba(255, 255, 255, 0.9);
    -webkit-animation: load 10s;
    -moz-animation: load 10s;
    -o-animation: load 10s;
    animation: load 10s;
  }
  /* ----- GETTING STARTED CARD ----- */
  #get-started-card {
    font-size: 12px;
  }

  #get-started-card h1 {

  }

  #get-started-card h2 {
    border-bottom: 2px solid #e9e9e9;
    padding: 0 32px 8px 32px;
    margin: 0;
  }

  #get-started-card h3 {
    padding: 22px 0 8px 0;
    float: left;
    position: relative;
  }

  #get-started-card img {
    border-radius: 50%;
    vertical-align: middle;
    padding: 16px 16px 16px 16px;
  }

  #get-started-card .list-entry {
    width: calc(100% - 48px);
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e9e9e9;
    padding: 0 8px 0 48px;
    margin: 0 24px;
    box-sizing: border-box;
    font-weight: 400;
  }
  #get-started-card .uncomplete {
    background: url(../images/getstarted-uncomplete.png) left 8px center no-repeat;
  }
  #get-started-card .complete {
    background: url(../images/getstarted-complete.png) left 8px center no-repeat;
    text-decoration: line-through;
    color: #BDBDBD;
  }
  #get-started-card a:hover {
    text-decoration: underline;
  }
  /* ----- FEEDBACK CARD ----- */
  #feedback-card {
    background: #4db6ac !important; /* Old browsers */
    background: -moz-linear-gradient(top, #4db6ac 0%, #009688 82%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4db6ac), color-stop(82%, #009688)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4db6ac 0%, #009688 82%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4db6ac 0%, #009688 82%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4db6ac 0%, #009688 82%) !important; /* IE10+ */
    background: linear-gradient(to bottom, #4db6ac 0%, #009688 82%) !important; /* W3C */
    color: white;
    padding: 64px 32px 0px 32px;
    cursor: pointer;
  }
  #feedback-card:hover h2 {
    text-decoration: underline !important;
  }
  #feedback-card h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    margin: 0;
  }
  #feedback-card h2 {
    font-size: 12px;
    line-height: 20px;
    margin: 8px 0;
  }
  /* ----- QUESTION CARD ----- */
  #question-card {
    padding: 24px 64px;
    text-align: center;
  }
  .label {
    height: 20px;
    margin: 6px 0;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    color: #e0e0e0;
  }
  #question-card .progress-container {
    opacity: 0.6;
    position: relative;
    width: 100%;
    height: 28px;
    text-align: justify;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
    cursor: default;
  }
  #question-card .progress-container:hover {
    opacity: 1;
  }
  #question-card .progress-container:after {
    content: "";
    width: 100%;
    display: inline-block;
  }
  .progress-container .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: calc(100%-12px);
    margin: 10px 12px;
    height: 8px;
    background: #e9e9e9;
    z-index: 2;
  }
  .progress-bar .progress-bar-complete {
    height: 100%;
    background: #9CCC65;
  }
  .progress-container .milestone-circle {
    position: relative;
    display: inline-block;
    height: 28px;
    width: 28px;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    border: 2px solid white;
    border-radius: 100%;
    display: inline-block;
    vertical-align: top;
   *display: inline;
    zoom: 1;
    z-index: 4;
    box-sizing: border-box;
  }
  .progress-container:after {
    content: "";
    width: 100%;
    display: inline-block;
  }
  .progress-container .uncomplete {
    background: #e9e9e9 no-repeat;
    background-image: url(../images/milestone-flag.png);
    background-size: 14px 14px;
    background-position: center;
  }
  .progress-container .complete {
    background: #9CCC65 no-repeat;
    background-image: url(../images/milestone-thumbs-up.png);
    background-size: 14px 14px;
    background-position: center;
  }
  #question-text {
    width: 85%;
    font-size: 40px;
    line-height: 48px;
    margin: 48px auto 0 auto;
  }
  #question-card .question-label {
    width: 60%;
    height: 32px;
    margin: 28px auto 20px auto;
    vertical-align: top;
  }
  .question-label span {
    width: 33.333%;
    line-height: 32px;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
  }
  #option-1 {
    opacity: 0.375;
    float: left;
  }
  #option-3 {
    opacity: 0.375;
    float: right;
  }
  #question-slider {
    position: relative;
    width: 60%;
    margin: 0 auto;
    z-index: 10;
  }
  #slider-descriptor {
    display: block;
    margin: 24px 0 32px 0;
    font-weight: 400;
  }
  #question-card .left-text {
    float: left;
    text-align: left;
  }
  .left-text .skip-question {
    opacity: 0.375;
    font-size: 14px;
    margin-bottom: 8px;
    cursor: pointer;
  }
  .left-text .skip-question:hover {
    opacity: 0.6;
    text-decoration: underline;
  }
  .left-text .need-help {
    color: #49c6ad;
    height: 20px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
  }
  .left-text .need-help:hover {
    opacity: 0.8;
    text-decoration: underline;
  }
  #question-card .next {
    float: right;
    width: 100%;
    max-width: 168px;
    margin: 4px 8px;/*color: #49c6ad;
    border-color: #49c6ad;*/
  }
  .next #question-card .next {
    float: right;
    width: 100%;
    max-width: 168px;
    margin: 8px;
  }
  .next .chevron::before {
    border-style: solid;
    border-width: 1.5px 1.5px 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    position: relative;
    top: -0.05em;
    transform: rotate(-45deg);
    vertical-align: center;
    width: 0.45em;
    left: 0;
    transform: rotate(45deg);
  }
  #instructions {
    background: white;
    font-weight: 400;
    padding: 8px;
    text-align: justify;
    font-size: 12px;
    position: absolute;
    right: 24px;
    top: 272px;
    width: 160px;
    border: 1px solid #e9e9e9;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.1), 0 2px 5px 0 rgba(0,0,0,0.1);
    border-radius: 8px;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
    opacity: 0;
  }
  /* ----- CENTERED IN CARD ----- */
  .center-in-card {
    width: 64%;
    text-align: center;
  }
  .center-in-card h1 {
    margin: 16px 0;
  }
  .center-in-card h2 {
    margin-bottom: 16px;
  }
  .center-in-card img {
    max-height: 180px;
    max-width: 100%;
  }

  @media screen and (max-width:952px) {
  #content {
    height: auto !important;
    padding-bottom: 16px;
  }
  .card {
    padding: 16px !important;
    height: auto !important;
    min-height: inherit;
  }
  #content .left {
    display: none;
  }
  #content .right {
    display: inline-block;
    float: none;
    width: 100%;
    height: 492px !important;
  }
  /* ----- QUESTION CARD ----- */
  #question-card .progress-container {
    opacity: 1
  }
  #question-text {
    font-size: 24px;
    line-height: 1.5em;
    width: 80%;
  }
  #question-card .question-label {
    width: 80%;
    height: 20px;
    margin: 28px auto;
    vertical-align: top;
  }
  #question-slider {
    width: 80%;
    margin: 0 auto;
  }
  #question-card .left-text {
    float: none;
    text-align: center
  }
  #question-card .next {
    float: none;
    width: 100%;
    max-width: 240px;
    margin: 16px auto;
  }
  #instructions {
    display: none;
  }
  /* ----- CENTERED IN CARD ----- */
  .center-in-card {
    width: 80%;
    margin: 32px auto;
    box-sizing: border-box;
    position: static;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
  }
  }

  @media screen and (max-width:688px) {
  body {
    background: #fafafa;
  }
  .card {
    background: none !important;
    padding: 0px !important;
    border: 0px !important;
  }
  #content .background {
    display: none;
  }
  /* ----- DASHBOARD CARD ---- */
  .attribute svg:nth-child(2) path {
    stroke: rgba(250, 250, 250, 0.9);
  }
  /* ----- QUESTION CARD ----- */
  .progress-container .milestone-circle {
    border: 2px solid #fafafa;
  }
  #question-text {
    width: 100%;
  }
  #question-card .question-label {
    width: 100%;
    height: 20px;
    margin: 28px auto;
    vertical-align: top;
  }
  #question-slider {
    width: 100%;
  }
  /* ----- CENTERED IN CARD ----- */
  .center-in-card {
    width: 90%;
  }
  }

  @media screen and (max-height:650px) {
  #content {
    height: 504px;
  }
  }

  .text-center {
    text-align: center;
  }

  .btn-status {
    width: 120px;
    font-size: 10px;
    color: black;
  }

  .button {
    margin-left: 3px;
    margin-right: 3px;
    width: calc(100% - 6px);
    display: inline-block;
  }

  .button.small {
    width: 80px;
  }

  .button.first {
    margin-left: 370px;
    margin-bottom: 50px;
  }

  .table {
    margin: 30px;
    margin-top: 20px;
  }

  .table th {
    height: 40px;
    border-bottom: 1px solid;
  }

  .table tr {
    height: 50px;
  }

  .col-min {
    width: 50px;
  }

  .col-1 {
    width: 70px;
  }

  .col-2 {
    width: 140px;
  }

  .col-3 {
    width: 210px;
  }

  .col-4 {
    width: 280px;
  }

  .text-left {
    text-align: left;
  }

  .text-center {
    text-center: right;
  }

  .text-right {
    text-align: right;
  }

}

.educators_batches.show {

  .main {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e9e9e9;
    width: 100%;
    tr {
      height: 70px;
    }
    th {
      border: 1px solid #e9e9e9;
      font-size: 16px;
      font-weight: 100;
    }
    td {
      border: 1px solid #e9e9e9;
      font-size: 16px;
      div {
        display: inline-block;
      }
    }
  }

  .status {
    font-size: 16px;
  }

  .table-border {
    border: 1px solid #e9e9e9;
    p {
      padding: 5px;
    }
  }

  .table-merge-1 {
    border-bottom: 1px solid #e9e9e9;
  }

  .table-merge-2 {
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
  }

  .merge {
    border-left: white;
    border-right: transparent;
  }

  .button-grp {
    margin-top: 30px;
    text-align: center;
  }

  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #25A599;
    border: 1px solid transparent;
    color: white;
    margin-left: 20px;
  }

  .btn.radius-left {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 0.5px solid white;
    width: 140px;
  }

  .btn.radius-right {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .btn.radius {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
  }

  .btn:hover {
    background-color: #4CB5AB;
  }

  .btn:active {
    background-color: #00887A;
    outline: 0;
  }

  .btn:focus {
    outline: 0;
  }

  .add-group {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 28%;
    margin-right: 28%;

    img {
      border: 1px;
      box-shadow: 0px 0px 0px 1px #e9e9e9;
      width: 120px;
      height: 120px;
    }

    p:hover {
      text-decoration: underline;
    }
  }

  .add-user {
    display: inline-block;
  }

  .or {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
  }

  .csv {
    display: inline-block;
  }

  .up-triangle {
    width: 0;
    height: 0;
    border-bottom: 10px solid #616161;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    display: inline-block;
  }

  .go-to-top {
    display: inline-block;
    width: 100%;
    text-align: right;
    margin-right: 5px;
    margin-bottom: 5px;
    a {
      display: inline-block;
    }
  }

  .completion-status {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    img {
      border: 0px;
      box-shadow: none;
      width: 80px;
      height: 80px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .header-summary {
    h1 {
      padding: 0 16px 0px 32px;
      height: 140px;
      line-height: 140px;
      font-size: 22px;
    }
    img {
      width: 100px;
      height: 100px;
    }
  }
}
