/* ----- MAIN ----- */
body {
	color: #616161;
	background: image-url('shared/bg-pattern.png') repeat;
}
h2 {
	margin: 32px 0 8px 0;
}
/* ----- HEADER ----- */
#header {
	height: 64px;
	width: 100%;
	border-bottom: 2px solid #e9e9e9;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	background: white;
	z-index: 9999;
}
#header .header-logo {
	height: 32px;
	float: left;
	padding: 16px 0;
}
#header .header-logo:hover {
	opacity: 0.8;
}
#header .profile {
	float: right;
	height: 100%;
	padding: 16px 8px;
	box-sizing: border-box;
	border-radius: 0 0 4px 4px;
	overflow: hidden;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
}
#header .profile * {
	-webkit-transition: all 500ms cubic-bezier(0.000, 0.000, 0.065, 0.960);
	-moz-transition: all 500ms cubic-bezier(0.000, 0.000, 0.065, 0.960);
	-o-transition: all 500ms cubic-bezier(0.000, 0.000, 0.065, 0.960);
	transition: all 500ms cubic-bezier(0.000, 0.000, 0.065, 0.960);
}
#header .profile a {
	font-size: 14px;
	font-weight: 400;
	display: block;
	margin: 16px 0 0 12px;
	opacity: 0;
	color: #49c6ad;
}
#header .profile a:hover {
	text-decoration: underline;
}
#header .profile:hover {
	background-color: white;
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.1), 0 2px 5px 0 rgba(0,0,0,0.1);
	height: 216px; /* CHANGE HEIGHT OF DROP DOWN */
}
#header .profile:hover a {
	opacity: 1;
	margin: 16px 0 0 0;
}
#header .profile:hover .profile-arrow {
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);
}
#header .profile-icon {
	height: 32px;
	width: 32px;
	float: right;
	border-radius: 100%;
	text-align: center;
	font-size: 22px;
	color: white;
	line-height: 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 32px 32px;
	cursor: pointer;
}
#header .profile-text {
	float: right;
	line-height: 32px;
	margin: 0 4px 0 8px;
	cursor: pointer;
	max-width: 104px;
	height: 32px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#header .profile-break {
	padding-top: 40px;
}
#header .profile-arrow {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #616161;
	opacity: 0.5;
	margin-top: 14px;
	float: right;
}
/* ----- CONTENT ----- */
#content {
	position: relative;
	width: 100%;
	min-height: calc(80% - 16px);
	height: auto !important;
	margin-top: 80px;
	border-radius: 4px;
}
#content:after {
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
#content .background {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 492px;
	background: #FAFAFA;
}
#content .thin {
	width: 12px;
	height: 240px;
	left: 296px;
}
#content .card {
	width: 100%;
	border-radius: 4px;
	border: 1px solid #e9e9e9;
	background: white;
	box-sizing: border-box;
	position: relative;
}
#content .full {
	display: inline-block;
	width: 100%;
	height: 492px;
	min-height: 492px;
}
#content .flex {
	height: auto !important;
	min-height: 492px;
}
#content .flex:after {
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
#content .left {
	float: left;
	width: 296px;
	height: 488px;
}
.left .card {
	height: 240px;
	margin-bottom: 12px;
}
#content .right {
	float: right;
	width: 612px;
	height: 492px;
}
.card h1 {
	font-size: 20px;
	line-height: 24px;
	font-weight: 300;
	margin: 0;
}
.card h2 {
	font-size: 12px;
	line-height: 20px;
	margin: 0;
}
#template-card {
	padding: 32px;
}
.input-short {
	width: 160px;
	display: inline-block;
}
.input-label {
	display: inline-block;
	min-width: 120px;
}
/* ----- DASHBOARD CARD ----- */
.after-test {
	padding: 32px;
}
.attribute {
	display: block;
	padding: 0;
	text-align: center;
	padding: 16px 0;
}
.attribute>li {
	display: inline-block;
	position: relative;
	text-align: center;
	margin: 0 8px;
}
.attribute>li:before {
	content: attr(data-name);
	position: absolute;
	width: 100%;
	top: 88px;
	font-size: 12px;
	line-height: 16px;
	padding: 0 32px;
	box-sizing: border-box;
}
.attribute>li:after {
	content: attr(data-percent);
	position: absolute;
	width: 100%;
	top: 48px;
	left: 0;
	font-size: 2rem;
	text-align: center;
}
.attribute svg {
	width: 160px;
	height: 160px;
}
.attribute svg:nth-child(2) {
	position: absolute;
	left: 0;
	top: 0;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
}
.attribute svg:nth-child(2) path {
	fill: none;
	stroke-width: 25;
	stroke-dasharray: 629;
	stroke: rgba(255, 255, 255, 0.9);
	-webkit-animation: load 10s;
	-moz-animation: load 10s;
	-o-animation: load 10s;
	animation: load 10s;
}

.stripe-button-el span {
  position: relative !important;
  padding: 0 !important;
  height: 0 !important;
  background: none !important;
  background-image: none !important;
  font-size: 16px !important;
	font-weight: 600 !important;
  text-shadow: none !important;
	font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, sans-serif !important;
	text-align: center !important;
  box-shadow: none !important;
  border-radius: 0 !important;
	color: white !important;
}

.stripe-button-el {
  overflow: visible !important;
  position: relative !important;
  top: -1px !important;
  padding: 0 !important;
  background-image: none !important;
	display: inline-block !important;
	width: 49% !important;
	height: 40px !important;
	box-sizing: border-box !important;
	border-radius: 4px !important;
	background-color: #25A599 !important;
	cursor: pointer !important;
	-webkit-transition: all 200ms !important;
	-moz-transition: all 200ms !important;
	-o-transition: all 200ms !important;
	transition: all 200ms !important;
	-moz-box-shadow: inset 0 0 5px rgba(255,255,255,0.15) !important;
	-webkit-box-shadow: inset 0 0 5px rgba(255,255,255,0.15) !important;
	box-shadow: inset 0 0 5px rgba(255,255,255,0.15) !important;
	border: 1px solid transparent !important;
}

button.Button {
  background-image: none !important;
  background: none !important;
  background-color: #25A599 !important;
}

/* ----- GETTING STARTED CARD ----- */
#get-started-card {
	padding: 16px 0;
	font-size: 12px;
}
#get-started-card h1 {
	padding: 0 32px 8px 32px;
}
#get-started-card h2 {
	border-bottom: 2px solid #e9e9e9;
	padding: 0 32px 8px 32px;
	margin: 0;
}
#get-started-card .list-entry {
	width: calc(100% - 48px);
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #e9e9e9;
	padding: 0 8px 0 48px;
	margin: 0 24px;
	box-sizing: border-box;
	font-weight: 400;
}
// TODO: Unrefactored
#get-started-card {
  .uncompleted,
  .completed {
    background-size: 2em;
    background-position: left .75em center;
    background-repeat: no-repeat;
  }

  .uncompleted {
    background-image: image-url('dashboard/getstarted-uncompleted.svg');
  }

  .completed {
    background-image: image-url('dashboard/getstarted-complete.svg');
    text-decoration: line-through;
    color: #BDBDBD;
  }
}

#get-started-card a:hover {
	text-decoration: underline;
}
/* ----- FEEDBACK CARD ----- */
#feedback-card {
	background: #4db6ac !important; /* Old browsers */
	background: -moz-linear-gradient(top, #4db6ac 0%, #009688 82%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4db6ac), color-stop(82%, #009688)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4db6ac 0%, #009688 82%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4db6ac 0%, #009688 82%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4db6ac 0%, #009688 82%) !important; /* IE10+ */
	background: linear-gradient(to bottom, #4db6ac 0%, #009688 82%) !important; /* W3C */
	color: white;
	padding: 64px 32px 0px 32px;
	cursor: pointer;
}
#feedback-card:hover h2 {
	text-decoration: underline !important;
}
#feedback-card h1 {
	font-size: 24px;
	line-height: 32px;
	font-weight: 300;
	margin: 0;
}
#feedback-card h2 {
	font-size: 12px;
	line-height: 20px;
	margin: 8px 0;
}
/* ----- QUESTION CARD ----- */
#question-card {
	padding: 24px 64px;
	text-align: center;
}
.label {
	height: 20px;
	margin: 6px 0;
	text-align: left;
	font-size: 12px;
	font-weight: 400;
	color: #e0e0e0;
}
#question-card .progress-container {
	opacity: 0.6;
	position: relative;
	width: 100%;
	height: 28px;
	text-align: justify;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
	cursor: default;
}
#question-card .progress-container:hover {
	opacity: 1;
}
#question-card .progress-container:after {
	content: "";
	width: 100%;
	display: inline-block;
}
.progress-container .progress-bar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: calc(100%-12px);
	margin: 10px 12px;
	height: 8px;
	background: #e9e9e9;
	z-index: 2;
}
.progress-bar .progress-bar-complete {
	height: 100%;
	background: #9CCC65;
}
.progress-container .milestone-circle {
	position: relative;
	display: inline-block;
	height: 28px;
	width: 28px;
	color: white;
	text-align: center;
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
	border: 2px solid white;
	border-radius: 100%;
	display: inline-block;
	vertical-align: top;
 *display: inline;
	zoom: 1;
	z-index: 4;
	box-sizing: border-box;
}
.progress-container:after {
	content: "";
	width: 100%;
	display: inline-block;
}
// TODO: Unrefactored
.progress-container .uncompleted {
	background: #e9e9e9 no-repeat;
	background-image: url(../images/milestone-flag.png);
	background-size: 14px 14px;
	background-position: center;
}
.progress-container .complete {
	background: #9CCC65 no-repeat;
	background-image: url(../images/milestone-thumbs-up.png);
	background-size: 14px 14px;
	background-position: center;
}
#question-text {
	width: 85%;
	font-size: 40px;
	line-height: 48px;
	margin: 48px auto 0 auto;
}
#question-card .question-label {
	width: 60%;
	height: 32px;
	margin: 28px auto 20px auto;
	vertical-align: top;
}
.question-label span {
	width: 33.333%;
	line-height: 32px;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
}
#option-1 {
	opacity: 0.375;
	float: left;
}
#option-3 {
	opacity: 0.375;
	float: right;
}
#question-slider {
	position: relative;
	width: 60%;
	margin: 0 auto;
	z-index: 10;
}
#slider-descriptor {
	display: block;
	margin: 24px 0 32px 0;
	font-weight: 400;
}
#question-card .left-text {
	float: left;
	text-align: left;
}
.left-text .skip-question {
	opacity: 0.375;
	font-size: 14px;
	margin-bottom: 8px;
	cursor: pointer;
}
.left-text .skip-question:hover {
	opacity: 0.6;
	text-decoration: underline;
}
.left-text .need-help {
	color: #49c6ad;
	height: 20px;
	font-size: 12px;
	font-weight: 400;
	cursor: pointer;
}
.left-text .need-help:hover {
	opacity: 0.8;
	text-decoration: underline;
}
#question-card .next {
	float: right;
	width: 100%;
	max-width: 168px;
	margin: 4px 8px;/*color: #49c6ad;
	border-color: #49c6ad;*/
}
.next #question-card .next {
	float: right;
	width: 100%;
	max-width: 168px;
	margin: 8px;
}
.next .chevron::before {
	border-style: solid;
	border-width: 1.5px 1.5px 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	position: relative;
	top: -0.05em;
	transform: rotate(-45deg);
	vertical-align: center;
	width: 0.45em;
	left: 0;
	transform: rotate(45deg);
}
#instructions {
	background: white;
	font-weight: 400;
	padding: 8px;
	text-align: justify;
	font-size: 12px;
	position: absolute;
	right: 24px;
	top: 272px;
	width: 160px;
	border: 1px solid #e9e9e9;
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.1), 0 2px 5px 0 rgba(0,0,0,0.1);
	border-radius: 8px;
	-webkit-transition: all 400ms;
	-moz-transition: all 400ms;
	-o-transition: all 400ms;
	transition: all 400ms;
	opacity: 0;
}

/* ----- CENTERED IN CARD ----- */
.center-in-card {
	width: 64%;
	text-align: center;
}
.center-in-card h1 {
	margin: 16px 0;
}
.center-in-card h2 {
	margin-bottom: 16px;
}
.center-in-card img {
	max-height: 180px;
	max-width: 100%;
}

@media screen and (max-width:952px) {
#content {
	height: auto !important;
	padding-bottom: 16px;
}
.card {
	padding: 16px !important;
	height: auto !important;
	min-height: inherit;
}
#content .left {
	display: none;
}
#content .right {
	display: inline-block;
	float: none;
	width: 100%;
	height: 492px !important;
}
/* ----- QUESTION CARD ----- */
#question-card .progress-container {
	opacity: 1
}
#question-text {
	font-size: 24px;
	line-height: 1.5em;
	width: 80%;
}
#question-card .question-label {
	width: 80%;
	height: 20px;
	margin: 28px auto;
	vertical-align: top;
}
#question-slider {
	width: 80%;
	margin: 0 auto;
}
#question-card .left-text {
	float: none;
	text-align: center
}
#question-card .next {
	float: none;
	width: 100%;
	max-width: 240px;
	margin: 16px auto;
}
#instructions {
	display: none;
}
/* ----- CENTERED IN CARD ----- */
.center-in-card {
	width: 80%;
	margin: 32px auto;
	box-sizing: border-box;
	position: static;
	-webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
	transform: none;
}
}

@media screen and (max-width:688px) {
body {
	background: #fafafa;
}
.card {
	background: none !important;
	padding: 0px !important;
	border: 0px !important;
}
#content .background {
	display: none;
}
/* ----- DASHBOARD CARD ---- */
.attribute svg:nth-child(2) path {
	stroke: rgba(250, 250, 250, 0.9);
}
/* ----- QUESTION CARD ----- */
.progress-container .milestone-circle {
	border: 2px solid #fafafa;
}
#question-text {
	width: 100%;
}
#question-card .question-label {
	width: 100%;
	height: 20px;
	margin: 28px auto;
	vertical-align: top;
}
#question-slider {
	width: 100%;
}
/* ----- CENTERED IN CARD ----- */
.center-in-card {
	width: 90%;
}
}

@media screen and (max-height:650px) {
#content {
	height: 504px;
}
}
