/* ----- BUTTONS ----- */
.button {
	height: 40px;
	width: 100%;
	font-weight: 600;
	box-sizing: border-box;
	border-radius: 4px;
	background-color: #25A599;
	color: white;
	border: 0;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
	line-height: 40px;
	-moz-box-shadow: inset 0 0 5px rgba(255,255,255,0.15);
	-webkit-box-shadow: inset 0 0 5px rgba(255,255,255,0.15);
	box-shadow: inset 0 0 5px rgba(255,255,255,0.15);
	border: 1px solid transparent;
}
.button:hover {
	background-color: #4CB5AB;
}
.button:active {
	background-color: #00887A;
	outline: 0;
}
.button:focus {
	outline: 0;
}
