-#<link rel="stylesheet" type="text/css" href="css/normalize.css">
-#<link rel="stylesheet" type="text/css" href="css/starteur.css">
-#<link rel="stylesheet" type="text/css" href="css/pages.css">
-#<script src="js/pages.js" language="javascript"></script>

<!------ CONTENT ------>
#content.center-block
  .sign-in-box.center
    %h2 Sign in
    .error-text The email and password entered do not match.
    <form id="sign-in-form">
      <input type="email" class="input-box error" placeholder="Email" name="email">
      <input type="password" class="input-box" placeholder="Password" name="password">
      <p>
        <input type="checkbox" name="rememberme">
        <span class="tos">Remember me</span>
      </p>
      <input type="submit" class="button half" value="Sign in" formaction="dashboard.html">
      <a href="signup.html">
      <input type="button" class="button half ghost" value="Create account">
      </a>
    </form>
    .forgot-password
      = link_to '#' do
        Forgot your password?
