%link{:href => "images/apple-touch-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}/
%link{:href => "images/apple-touch-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}/
%link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
%link{:href => "images/apple-touch-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}/
%link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
%link{:href => "images/apple-touch-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}/
%link{:href => "images/apple-touch-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}/
%link{:href => "images/apple-touch-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}/
%link{:href => "images/apple-touch-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
%link{:href => "images/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
%link{:href => "images/favicon-194x194.png", :rel => "icon", :sizes => "194x194", :type => "image/png"}/
%link{:href => "images/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}/
%link{:href => "images/android-chrome-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}/
%link{:href => "images/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
%link{:href => "images/manifest.json", :rel => "manifest"}/
%link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
%meta{:content => "#00aba9", :name => "msapplication-TileColor"}/
%meta{:content => "images/mstile-144x144.png", :name => "msapplication-TileImage"}/
%meta{:content => "images/browserconfig.xml", :name => "msapplication-config"}/
%meta{:content => "#25A599", :name => "theme-color"}/
