:ruby
  ICON_SIZES_APPLE_TOUCH = [57, 60, 72, 76, 114, 120, 144, 152 180]

- ICON_SIZES_APPLE_TOUCH.each do |size|
  - raw_size = "#{size}x#{size}'
  - icon_url = image_url("shared/apple-touch-icon-#{raw_size}")
  link href=icon_url rel="apple-touch-icon" sizes=raw_size

link href='images/favicon-32x32.png' rel='icon' sizes='32x32' type='image/png'
link href='images/favicon-194x194.png' rel='icon' sizes='194x194' type='image/png'
link href='images/favicon-96x96.png' rel='icon' sizes='96x96' type='image/png'
link href='images/android-chrome-192x192.png' rel='icon' sizes='192x192' type='image/png'
link href='images/favicon-16x16.png' rel='icon' sizes='16x16' type='image/png'
link href='images/manifest.json' rel='manifest'
link href='images/favicon.ico' rel='shortcut icon'
meta content='#00aba9' name='msapplication-TileColor'
meta content='images/mstile-144x144.png' name='msapplication-TileImage'
meta content='images/browserconfig.xml' name='msapplication-config'
meta content='#25A599' name='theme-color'
