.educators_billing_records.index {

  a:hover {
    color: #49c6ad;
  }

  table thead {
    font-size: 16px;
  }

  table {
    font-size: 14px;
  }

  #get-started-card h2 {
    border-bottom: none;
  }

  .no-test {
    min-height: 200px;
  }

  .no-test h1 {
    margin-top: 60px;
  }

}
