.educators_billing_records.new {

  #content .card {
    min-height: 400px;
  }

  .stripe-button-el {
    background-image: none;
    background: #29A599;
    padding: 0px;
    vertical-align: middle;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    width: 100px;
    height: 40px;
    margin: 1px;
    margin-left: 5px;
  }

  .stripe-button-el span {
    background-image: none;
    background: #29A599;
    height: 40px;
    line-height: 40px;
    text-shadow: none;
    font-family: "Open Sans";
  }

  .stripe-button-el span:hover {
    background-color: #4CB5AB;
  }

  .stripe-button-el span:focus, .stripe-button-el span:active {
    background: #00887A;
  }

  .left .card {
    height: 260px;
  }

  table {
    width: 400px;
    margin-left: calc((100% - 250px)/2);
  }

  table th {
    font-size: 14px;
  }

  table thead {
    margin-bottom: 10px;
  }

  table tr {
    height: 50px;
  }

  .discount-group {
    width: 300px;
    margin-left: 80px;
  }

  .discount-field {
    width: 250px;
    height: 30px;
    float: left;
    margin-left: calc((100% - 250px)/2);
  }

  .apply {
    width: 180px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: calc((100% - 180px)/2);
  }

  .total-row {
    border-top: 1px solid;
  }

  .left {
    margin-top: 10px;
  }

  .right {
    margin-top: 10px;
  }

  .checkbox {
    margin-left: 30px;
  }

  .input-box {
    width: 400px;
  }

  .input-box.half {
    width: 195px;
    margin-right: 10px;
  }

  .form-wrapper {
    margin-top: 20px;
    margin-left: calc((100% - 400px)/2);
  }

  .purchase {
    margin-left: 300px;
    margin-bottom: 50px;
  }

  .card-wrapper {
    width: 400px;
    margin-bottom: 10px;
  }

  .table {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;

    td {
      width: 100px;
    }

    tr {
      height: 80px;
    }

    .total {
      border-top: 1px solid;
      margin-top: 30px;
    }
  }

  .button-group {
    width: 40%;
    float: right;
    margin-top: 44px;

    .button {
      display: inline-block;
      width: 100px;
      margin-left: 30px;
    }
  }
}
