.educators_billing_records.purchase_success {

  #content .card {
    min-height: 0px;
  }

  table {
    margin: 30px;
    margin-top: 20px;
  }

  table th {
    font-size: 18px;
  }

  table tr {
    height: 150px;
  }

  .body-row {
    border-bottom: 1px solid;
  }

  .text-right {
    text-align: right;
  }

  .logo-wrapper {
    height: 200px;
    width: 200px;
    border: 3px solid #49c6ad;
    border-radius: 300px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  .confirmation-logo {
    margin-left: 35%;
    margin-top: 10%;

    &:after{
      /*Add another block-level blank space*/
      content: '';
      display: block;

      /*Make it a small rectangle so the border will create an L-shape*/
      width: 50px;
      height: 100px;

      /*Add a white border on the bottom and left, creating that 'L' */
      border: solid #49c6ad;
      border-width: 0 20px 20px 0;

      /*Rotate the L 45 degrees to turn it into a checkmark*/
      transform: rotate(45deg);
     }
  }

  .success-message {
    font-size: 50px;
    margin-top: 20px;
    color: #49c6ad;
    margin-left: 33.3333%;
    margin-right: 33.3333%;
    text-align: center;
  }

  .block-message {
    width: 450px;
    height: auto;
    border: 3px solid #25A599;
    border-radius: 8px;
    background-color: transparent;
    color: #25A599;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .block-message p {
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .block-message .quantity {
    width: 30px;
    display: inline-block;
  }

  .block-message .quantity p {
    width: 30px;
    border-bottom: 1px solid;
    font-weight: bold;
  }

  .button-group {
    width: 540px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    width: 240px;
    margin-left: 20px;
    display: inline-block;
  }

  .return-link {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .return-link a {
    color: #49c6ad;
  }

  .return-link a:hover {
    opacity: 0.8;
    text-decoration: underline;
  }

}
