.educators_billing_records.show {

  #logo img {
    width: 142px;
    height: 32px;
    float: left;
    border-radius: 0%;
    padding: 16px 16px 16px 16px;
    margin-right: 400px;
    margin-bottom: 30px;
  }

  #get-started-card h3 {
    padding: 0;
    margin-left: 30px;
    height: 30px;
  }

  .table-top {
    margin-top: 20px;
  }

  .table-top .title {
    width: 140px;
  }

  .table {
    width: calc(100% - 100px);
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .table th {
    height: 40px;
    border-bottom: 1px solid;
    font-size: 14px;
  }

  .table tr {
    height: 60px;
  }

  .table td {
    font-size: 13px;
  }

  .table .bottom {
    border-top: 1px dashed;
  }

  .table .bottom b {
    font-size: 16px;
  }

}
