/* ---- COLOR ---- */
.blue {
  background-color: #0645ff !important;
}

.red {
  background-color: #ff0645 !important;
}

.yellow {
  background-color: #ffc006 !important;
}

.green {
  background-color: #04E03A !important;
}

.purple {
  background-color: #9C27B0 !important;
}

.black {
  background-color: #000000 !important;
}
