/* ----- DROPDOWN ----- */
.dropdown {
  list-style: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  //position: relative;
}

.dropdown-button {
  padding: 8px 12px;
  margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: white;
  text-align: center;
  cursor: pointer;
  background-color: #25A599;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown-button:hover {
  background-color: #4cb5ab;
}

.dropdown-button:active {
  background-color: #00887A;
}

.dropit-open .dropdown-button {
  background-color: #4cb5ab;
}

.dropdown ul {
  display: none;
}

.dropdown ul.dropit-submenu {
  list-style: none;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  width: auto;
  background-color: #fff;
  padding: 0;
  position: absolute;
  z-index: 1;
}

.dropdown ul.dropit-submenu li {
  display: block;
  width: auto;
  min-width: 200px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  color: white;
  background: #25A599;
  border-bottom: 1px solid white;
}

.dropdown ul.dropit-submenu li:hover {
  background: #4cb5ab;
  color: #fff;
  text-decoration: none;
}

.dropdown ul.dropit-submenu li .number {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}

.dropdown ul.dropit-submenu li .menu-item {
  display: inline-block;
  width: 280px;
  height: 50px;
  line-height: 50px;
  text-align: left;
}

.dropdown ul.dropit-submenu li .menu-item2 {
  display: inline-block;
  width: 180px;
  height: 50px;
  line-height: 50px;
  text-align: left;
}

.dropdown ul.dropit-submenu li .completion-mark {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
}
