/* ----- FLASH MESSAGE ----- */
#messages {
  color: white;
  height: 40px;
  width: 100%;
  position: fixed;
  z-index: 9998;
  margin-top: -18px;
  font-weight: 400;
}

.alert-info {
  background-color: #49c6ad;
}

.alert-warning {
  background-color: #FF9800;
}

.alert-success {
  background-color: #49c6ad;
}

.alert-danger {
  background-color: #EF5350;
}

.alert {
  color: white;
  height: 40px;
  width: 100%;

  .message-content {
    display: inline-block;
    line-height: 40px;
    width: 920px;
    margin-left: calc((100% - 920px)/2);
  }

  i {
    float: right;
    margin-right: calc((100% - 920px)/2 - 20px);
    font-size: 20px;
    line-height: 40px;
  }

  i:hover {
    opacity: 0.8;
  }

  i:active {
    opacity: 0.6;
  }

}
