/* ----- FLASH MESSAGE ----- */
#messages {
  color: white;
  height: 40px;
  width: 100%;
  position: absolute;
  z-index: 0;
}

.error {
  background-color: #EF5350;
}

.notice {
  background-color: #49c6ad;
}


.alert {
  color: white;
  height: 40px;
  width: 100%;

  .message-content {
    display: inline-block;
    line-height: 40px;
    width: 920px;
    margin-left: calc((100% - 920px)/2);
  }

  i {
    float: right;
    margin-right: calc((100% - 920px)/2 - 20px);
    font-size: 20px;
    line-height: 40px;
  }

  i:hover {
    opacity: 0.8;
  }

  i:active {
    opacity: 0.6;
  }

}
