.bootstrap-table {
  width: inherit;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  font-size: 11px;
}

.bootstrap-table table {
  background-color: white;
}

.bootstrap-table a:hover {
  color: #49c6ad;
}

.detail a {
  color: #49c6ad;
}

.detail a:hover {
  color: #FF9800;
}
