.educators_admin_admins.manage_access_codes {

  .table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .table th {
    height: 40px;
    border-bottom: 1px solid #e9e9e9;
    font-size: 16px;
  }

  .table tr {
    height: 50px;
    font-size: 14px;
  }

  .submit {
    margin-left: 450px;
    padding-bottom: 30px;
  }

  select {
    margin-left: 30px;
  }

}
