#messages {
  .container-fluid {
    padding: 0 0;
  }
}

.navbar-container {
  position: fixed;
  left: 0;
  width: 230px;
  height: 100%;

  .navbar {
    width: inherit;
    height: 100%
  }
}

.application-container {
  position: absolute;
  left: 230px;
  right: 0px;
  height: 100%;
}
