/* ----- MAIN ----- */
body {
  font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, sans-serif;
  background: image-url("bg-pattern.png") repeat /*fixed*/;
  color: #616161;
  font-weight: 300;
}

h1 {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  color: inherit;
  margin: 32px 0 8px 0;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  color: inherit;
  margin: 0 0 8px 0;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

strong {
  font-weight: 400;
}

.alert {
  color: white;
  margin-top: 64px;
  height: 64px;
  width: 100%;
  background-color: #49c6ad;
  position: relative;
  .message-content {
    display: inline-block;
    line-height: 64px;
    margin-left: 20%;
    width: auto;
  }
  span {
    float: right;
    width: 20px;
  }
}

/* ----- BOXES ----- */
.shadow-box {
  width: 90%;
  box-sizing: border-box;
  background: #FFF;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 4px;
  padding: 16px;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}

.shadow-box:hover {
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.5), 0 1px 20px 0 rgba(0,0,0,0.15);
}

/* ----- INPUT ----- */
.input-box {
  width: 100%;
  height: 36px;
  box-sizing: border-box;
  font-family: inherit;
  margin-bottom: 8px;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  padding-left: 8px;
  font-size: 14px;
  background-repeat: no-repeat;
  background-position: 8px;
  background-size: 24px;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}

.input-box:hover {
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.05), 0 2px 5px 0 rgba(0,0,0,0.05);
}

.input-box:focus {
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.05), 0 2px 5px 0 rgba(0,0,0,0.05);
}

.input-box::-webkit-input-placeholder {
  color: #3F3F3F;
  opacity: 1;
}

.input-box:-moz-placeholder {
  color: #3F3F3F;
  opacity:  1;
}

.input-box::-moz-placeholder {
  color: #3F3F3F;
  opacity:  1;
}

.input-box:-ms-input-placeholder {
  color: #3F3F3F;
  opacity:1;
}

/* ----- BUTTONS ----- */
.button {
  height: 40px;
  width: 100%;
  font-weight: 600;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #25A599;
  color: white;
  border: 0;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  line-height: 40px;
  -moz-box-shadow: inset 0 0 5px rgba(255,255,255,0.15);
  -webkit-box-shadow: inset 0 0 5px rgba(255,255,255,0.15);
  box-shadow: inset 0 0 5px rgba(255,255,255,0.15);
  border: 1px solid transparent;
}

.button:hover {
  background-color: #4CB5AB;
}

.button:active {
  background-color: #00887A;
  outline: 0;
}

.button:focus {
  outline: 0;
}

.ghost {
  background-color: transparent;
  color: #25A599;
  border: 1px solid #25A599;
  font-weight: 300;
}

.ghost:hover {
  background-color: rgba(76,181,171,0.15);
}

.ghost:active {
  background-color: rgba(76,181,171,0.2);
}

.half {
  display: inline-block;
  width: 49%;
}

/* ----- ALIGNMENT ----- */
.center-horizontal {
  display: block;
  margin: 0 auto;
}

.center-vertical {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-block {
  width: 90%;
  max-width: 920px;
  height: 100%;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
}

.sm-break {
  padding-top: 72px;
}

input {
  padding: 0;
}

/* ----- TYPOGRAPHY ----- */
h1 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 300;
  color: inherit;
  margin: 0 0 16px 0;
  letter-spacing: 0.5px;
}

h2 {
  font-size: 20px;
  line-height: 36px;
  color: inherit;
  margin: 0 0 8px 0;
  font-weight: 300;
  letter-spacing: 0.5px;
}

/* ----- HEADER ----- */
#header {
  height: 64px;
  width: 100%;
  border-bottom: 2px solid #e9e9e9;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 9999;
}

#header .header-logo {
  height: 32px;
  float: left;
  padding: 16px 0;
}

#header .header-logo:hover {
  opacity: 0.8;
}

#header .profile {
  float: right;
  height: 100%;
  padding: 16px 8px;
  box-sizing: border-box;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}

#header .profile * {
  -webkit-transition: all 500ms cubic-bezier(0.000, 0.000, 0.065, 0.960);
  -moz-transition: all 500ms cubic-bezier(0.000, 0.000, 0.065, 0.960);
  -o-transition: all 500ms cubic-bezier(0.000, 0.000, 0.065, 0.960);
  transition: all 500ms cubic-bezier(0.000, 0.000, 0.065, 0.960);
}

#header .profile a {
  font-size: 14px;
  font-weight: 400;
  display: block;
  margin: 16px 0 0 12px;
  opacity: 0;
  color: #49c6ad;
}

#header .profile a:hover {
  text-decoration: underline;
}

#header .profile:hover {
  background-color: white;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.1), 0 2px 5px 0 rgba(0,0,0,0.1);
  height: 216px; /* CHANGE HEIGHT OF DROP DOWN */
}

#header .profile:hover a {
  opacity: 1;
  margin: 16px 0 0 0;
}

#header .profile:hover .profile-arrow {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

#header .profile-icon {
  height: 32px;
  width: 32px;
  float: right;
  border-radius: 100%;
  text-align: center;
  font-size: 22px;
  color: white;
  line-height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px 32px;
  cursor: pointer;
}

#header .profile-text {
  float: right;
  line-height: 32px;
  margin: 0 4px 0 8px;
  cursor: pointer;
  max-width: 104px;
  height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#header .profile-break {
  padding-top: 40px;
}

#header .profile-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #616161;
  opacity: 0.5;
  margin-top: 14px;
  float: right;
}

/* ----- CONTENT ----- */
#content {
  position: relative;
  width: 100%;
  min-height: calc(80% - 16px);
  height: auto !important;
  margin-top: 80px;
  border-radius: 4px;
}

#content:after {
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#content .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 492px;
  background: #FAFAFA;
}

#content .thin {
  width: 12px;
  height: 240px;
  left: 296px;
}

#content .card {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #e9e9e9;
  background: white;
  box-sizing: border-box;
  position: relative;
}

#content .card-primary {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #e9e9e9;
  background: white;
  box-sizing: border-box;
  position: relative;
}

#content .full {
  display: inline-block;
  width: 100%;
  height: 492px;
  min-height: 492px;
}

#content .flex {
  height: auto !important;
  min-height: 492px;
}

#content .flex:after {
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#content .left {
  float: left;
  width: 296px;
  height: 488px;
}

.left .card {
  height: auto;
  margin-bottom: 12px;
}

.left .card-primary {
  height: auto;
  margin-bottom: 12px;
}

#content .right {
  float: right;
  width: 612px;
  height: auto;
}

.card h1 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  margin: 0;
}

.card h2 {
  font-size: 12px;
  line-height: 20px;
  margin: 0;
}

.card h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  margin: 0;
  width: 250px;
  height: 70px;
}

.card-primary h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  margin: 0;
  width: 250px;
  height: 70px;
}

#template-card {
  padding: 32px;
}

.input-short {
  width: 160px;
  display: inline-block;
}

.input-label {
  display: inline-block;
  min-width: 120px;
}

/* ----- DASHBOARD CARD ----- */
.after-test {
  padding: 32px;
}

.attribute {
  display: block;
  padding: 0;
  text-align: center;
  padding: 16px 0;
}

.attribute>li {
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 0 8px;
}

.attribute>li:before {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  top: 88px;
  font-size: 12px;
  line-height: 16px;
  padding: 0 32px;
  box-sizing: border-box;
}

.attribute>li:after {
  content: attr(data-percent);
  position: absolute;
  width: 100%;
  top: 48px;
  left: 0;
  font-size: 2rem;
  text-align: center;
}

.attribute svg {
  width: 160px;
  height: 160px;
}

.attribute svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}

.attribute svg:nth-child(2) path {
  fill: none;
  stroke-width: 25;
  stroke-dasharray: 629;
  stroke: rgba(255, 255, 255, 0.9);
  -webkit-animation: load 10s;
  -moz-animation: load 10s;
  -o-animation: load 10s;
  animation: load 10s;
}

/* ----- GETTING STARTED CARD ----- */
#get-started-card {
  font-size: 12px;
}

#get-started-card h1 {
  padding: 16px 32px 8px 32px;
}

#get-started-card h2 {
  border-bottom: 2px solid #e9e9e9;
  padding: 0 32px 8px 32px;
  margin: 0;
}

#get-started-card h3 {
  padding: 16px 0 8px 0;
  margin-bottom: 10px;
}

#get-started-card img {
  width: 70px;
  height: 70px;
  float: left;
  border-radius: 50%;
  vertical-align: middle;
  padding: 16px 16px 16px 16px;
  background-position: center center;
}

#get-started-card .list-entry {
  width: calc(100% - 48px);
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e9e9e9;
  padding: 0 8px 0 48px;
  margin: 0 24px;
  box-sizing: border-box;
  font-weight: 400;
  position: relative;
}

#get-started-card .uncomplete {
  background: url(../images/getstarted-uncomplete.png) left 8px center no-repeat;
}

#get-started-card .complete {
  background: url(../images/getstarted-complete.png) left 8px center no-repeat;
  text-decoration: line-through;
  color: #BDBDBD;
}

#get-started-card a:hover {
  text-decoration: underline;
}

/* ----- FEEDBACK CARD ----- */
#feedback-card {
  background: #4db6ac !important; /* Old browsers */
  background: -moz-linear-gradient(top, #4db6ac 0%, #009688 82%) !important; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4db6ac), color-stop(82%, #009688)) !important; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4db6ac 0%, #009688 82%) !important; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4db6ac 0%, #009688 82%) !important; /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4db6ac 0%, #009688 82%) !important; /* IE10+ */
  background: linear-gradient(to bottom, #4db6ac 0%, #009688 82%) !important; /* W3C */
  color: white;
  padding: 64px 32px 0px 32px;
  cursor: pointer;
}

#feedback-card:hover h2 {
  text-decoration: underline !important;
}

#feedback-card h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  margin: 0;
}

#feedback-card h2 {
  font-size: 12px;
  line-height: 20px;
  margin: 8px 0;
}

/* ----- QUESTION CARD ----- */
#question-card {
  padding: 24px 64px;
  text-align: center;
}

.label {
  height: 20px;
  margin: 6px 0;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  color: #e0e0e0;
}

#question-card .progress-container {
  opacity: 0.6;
  position: relative;
  width: 100%;
  height: 28px;
  text-align: justify;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  cursor: default;
}

#question-card .progress-container:hover {
  opacity: 1;
}

#question-card .progress-container:after {
  content: "";
  width: 100%;
  display: inline-block;
}

.progress-container .progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: calc(100%-12px);
  margin: 10px 12px;
  height: 8px;
  background: #e9e9e9;
  z-index: 2;
}

.progress-bar .progress-bar-complete {
  height: 100%;
  background: #9CCC65;
}

.progress-container .milestone-circle {
  position: relative;
  display: inline-block;
  height: 28px;
  width: 28px;
  color: white;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  border: 2px solid white;
  border-radius: 100%;
  display: inline-block;
  vertical-align: top;
  display: inline;
  zoom: 1;
  z-index: 4;
  box-sizing: border-box;
}

.progress-container:after {
  content: "";
  width: 100%;
  display: inline-block;
}

.progress-container .uncomplete {
  background: #e9e9e9 no-repeat;
  background-image: url(../images/milestone-flag.png);
  background-size: 14px 14px;
  background-position: center;
}

.progress-container .complete {
  background: #9CCC65 no-repeat;
  background-image: url(../images/milestone-thumbs-up.png);
  background-size: 14px 14px;
  background-position: center;
}

#question-text {
  width: 85%;
  font-size: 40px;
  line-height: 48px;
  margin: 48px auto 0 auto;
}

#question-card .question-label {
  width: 60%;
  height: 32px;
  margin: 28px auto 20px auto;
  vertical-align: top;
}

.question-label span {
  width: 33.333%;
  line-height: 32px;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}

#option-1 {
  opacity: 0.375;
  float: left;
}

#option-3 {
  opacity: 0.375;
  float: right;
}

#question-slider {
  position: relative;
  width: 60%;
  margin: 0 auto;
  z-index: 10;
}

#slider-descriptor {
  display: block;
  margin: 24px 0 32px 0;
  font-weight: 400;
}

#question-card .left-text {
  float: left;
  text-align: left;
}

.left-text .skip-question {
  opacity: 0.375;
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
}

.left-text .skip-question:hover {
  opacity: 0.6;
  text-decoration: underline;
}

.left-text .need-help {
  color: #49c6ad;
  height: 20px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}

.left-text .need-help:hover {
  opacity: 0.8;
  text-decoration: underline;
}

#question-card .next {
  float: right;
  width: 100%;
  max-width: 168px;
  margin: 4px 8px;/*color: #49c6ad;
  border-color: #49c6ad;*/
}

.next #question-card .next {
  float: right;
  width: 100%;
  max-width: 168px;
  margin: 8px;
}

.next .chevron::before {
  border-style: solid;
  border-width: 1.5px 1.5px 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  position: relative;
  top: -0.05em;
  transform: rotate(-45deg);
  vertical-align: center;
  width: 0.45em;
  left: 0;
  transform: rotate(45deg);
}

#instructions {
  background: white;
  font-weight: 400;
  padding: 8px;
  text-align: justify;
  font-size: 12px;
  position: absolute;
  right: 24px;
  top: 272px;
  width: 160px;
  border: 1px solid #e9e9e9;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.1), 0 2px 5px 0 rgba(0,0,0,0.1);
  border-radius: 8px;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  opacity: 0;
}

/* ----- CENTERED IN CARD ----- */
.center-in-card {
  width: 64%;
  text-align: center;
}

.center-in-card h1 {
  margin: 16px 0;
}

.center-in-card h2 {
  margin-bottom: 16px;
}

.center-in-card img {
  max-height: 180px;
  max-width: 100%;
}

@media screen and (max-width:952px) {

  #content {
    height: auto !important;
    padding-bottom: 16px;
  }

  .card {
    padding: 16px !important;
    height: auto !important;
    min-height: inherit;
  }

  #content .left {
    display: none;
  }

  #content .right {
    display: inline-block;
    float: none;
    width: 100%;
    height: 492px !important;
  }

  /* ----- QUESTION CARD ----- */
  #question-card .progress-container {
    opacity: 1
  }

  #question-text {
    font-size: 24px;
    line-height: 1.5em;
    width: 80%;
  }

  #question-card .question-label {
    width: 80%;
    height: 20px;
    margin: 28px auto;
    vertical-align: top;
  }

  #question-slider {
    width: 80%;
    margin: 0 auto;
  }

  #question-card .left-text {
    float: none;
    text-align: center
  }

  #question-card .next {
    float: none;
    width: 100%;
    max-width: 240px;
    margin: 16px auto;
  }

  #instructions {
    display: none;
  }

  /* ----- CENTERED IN CARD ----- */
  .center-in-card {
    width: 80%;
    margin: 32px auto;
    box-sizing: border-box;
    position: static;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
  }

}

@media screen and (max-width:688px) {

  body {
    background: #fafafa;
  }

  .card {
    background: none !important;
    padding: 0px !important;
    border: 0px !important;
  }

  #content .background {
    display: none;
  }

  /* ----- DASHBOARD CARD ---- */
  .attribute svg:nth-child(2) path {
    stroke: rgba(250, 250, 250, 0.9);
  }

  /* ----- QUESTION CARD ----- */
  .progress-container .milestone-circle {
    border: 2px solid #fafafa;
  }

  #question-text {
    width: 100%;
  }

  #question-card .question-label {
    width: 100%;
    height: 20px;
    margin: 28px auto;
    vertical-align: top;
  }

  #question-slider {
    width: 100%;
  }

  /* ----- CENTERED IN CARD ----- */
  .center-in-card {
    width: 90%;
  }

}

@media screen and (max-height:650px) {

  #content {
    height: 504px;
  }

}

/* ----- GETTING STARTED CARD ----- */
#new-educator-card {
  font-size: 12px;
}

#new-educator-card h1 {
  padding: 16px 32px 8px 32px;
}

#new-educator-card h2 {
  border-bottom: 2px solid #e9e9e9;
  padding: 0 32px 8px 32px;
  margin: 0;
}

#new-educator-card h3 {
  padding: 22px 0 8px 0;
  float: left;
  position: relative;
}

#new-educator-card img {
  width: 80px;
  height: 80px;
  float: left;
  vertical-align: middle;
  padding: 16px 16px 16px 16px;
  background-position: center center;
}

#new-educator-card .list-entry {
  width: calc(100% - 48px);
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e9e9e9;
  padding: 0 8px 0 48px;
  margin: 0 24px;
  box-sizing: border-box;
  font-weight: 400;
}

#new-educator-card .uncomplete {
  background: url(../images/getstarted-uncomplete.png) left 8px center no-repeat;
}

#new-educator-card .complete {
  background: url(../images/getstarted-complete.png) left 8px center no-repeat;
  text-decoration: line-through;
  color: #BDBDBD;
}

#new-educator-card a:hover {
  text-decoration: underline;
}

.new-educator-block {
  border-bottom: 2px solid #e9e9e9;
}

.new-educator-block p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  padding-left: 15px;
  padding-right: 15px;
}

.new-educator-block p a {
  color: #49c6ad;
}

.new-educator-block .button a {
  font-color: white;
}

/* ----- FOOTER ----- */
#footer-wrapper {
  height: 190px;
  background-image: image-url("footer-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 91px;
  box-sizing: border-box;
}

#footer-wrapper .divider {
  height: 2px;
  background: #e9e9e9;
  position: relative;
}

#footer-wrapper a {
  color: inherit;
}

#footer-wrapper a:hover {
  text-decoration: underline;
}

#footer-wrapper .links {
  padding-top: 8px;
  margin-left: 2px;
  float: left;
  font-size: 14px;
  font-weight: 400;
}

#footer-wrapper .copyright {
  padding-top: 8px;
  margin-right: 2px;
  float: right;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  text-align: right;
}

#footer-wrapper .tab {
  width: 16px;
  display: inline-block;
}

/* ----- SCREENS ----- */
.small-screen {
  display: none;
}

@media screen and (max-width:952px) {

  .center-block {
    width: 100%;
    padding: 0 24px;
  }

}

@media screen and (max-width:688px) {

  /* ----- FOOTER ----- */
  #footer-wrapper {
    height: 160px;
    padding-top: 24px;
    background-position: right 16px center;
    border-top: 1px solid rgba(0,0,0,0.1);
  }

  /* ----- FOOTER ----- */
  #footer-wrapper .links {
    padding-top: 8px;
    margin-left: 2px;
    float: none;
    font-size: 14px;
    font-weight: 400;
  }

  #footer-wrapper .copyright {
    padding-top: 24px;
    margin-right: 2px;
    float: none;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    text-align: left;
    opacity: 0.8;
  }

  #footer-wrapper .tab {
    width: 16px;
    display: inline-block;
  }

  /* ----- SCREENS ----- */
  .small-screen {
    display: block;
  }

  .large-screen {
    display: none;
  }

}

/* ---- NORMALIZE ---- */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  height:100%;
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
  height:100%;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  color:inherit;
  text-decoration:none;
}