#messages {
  .container-fluid {
    padding: 0 0;
  }
}

.navbar-container {
  position: fixed;
  width: 18%;
  height: 100%;

  .navbar {
    position: absolute;
    width: 100%;
    height: 100%
  }
}

.application-container {
  padding-left: 18%;
  width: 100%;
  height: 100%;
}
