#question-card.card.full.flex
  = react_component 'QuestionBox',
    questionsFetchUrl: @questions_url, answersPostUrl: @answers_url,
    finishTestUrl: @finish_url,
    feedbackUrl: "#{dashboard_index_path}#feedback}"
