.educators_batches.show {

  .table-top {
    margin-top: 20px;
    width: 100%;
    border-bottom: 1px solid #e9e9e9;
  }

  .table-top .tr {
    border-top: 1px solid #e9e9e9;
  }

  .table-top .td {
    border-right: 1px solid #e9e9e9;
    text-align: center;
  }

  .table-top .td .number {
    font-size: 30px;
  }

  .table-top a {
    font-size: 20px;
  }

  .batch-name {
    font-size: 25px;
  }

  .add-coeducator {
    color: white;
    background-color: #0066FF;
    padding: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 100px;
    margin-left: 30px;
    margin-bottom: 30px;
    cursor: pointer;
  }

  .add-coeducator a {
    font-size: 12px;
    text-align: center;
    display: block;
    width: 100px;
    margin-left: auto;
    margin-left: auto;
  }

  .add-coeducator:active {
    background-color: #0050C7;
    outline: 0;
  }

  .coeducator {
    color: white;
    background-color: #FF9900;
    padding: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 260px;
    margin-left: 30px;
    margin-bottom: 30px;
  }

  .coeducator .tag {
    display: inline-block;
    width: 80px
  }

  .coeducator .email {
    display: inline-block;
    width: 150px;
  }

  .coeducator .email a {
    background-color: white;
    color: black;
    font-size: 10px;
    padding: 0px 15px;
  }

  .email-count {
    border-bottom: 1px solid black;
    font-size: 40px;
    width: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .batch-tag-group {
    margin-left: 30px;
    margin-top: 30px;
    padding-bottom: 40px;
  }

  .batch-tag {
    width: 180px;
    float: left;
    font-size: 10px;
    color: white;
    margin-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #FF9900;
    background-color: #FF9900;
    border-radius: 8px;
  }

  .button-grp {
    margin-top: 30px;
    width: 60%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .delete {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .menu1 {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
  }

  .menu2 {
    display: inline-block;
    vertical-align: top;
  }

  .action-icons {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
  }

  .action-icons .button {
    display: inline-block;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 25px;
  }

  .user-status {
    background-color: #ff5454;
    padding: 4px 8px;
    color: white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .user-status.yellow {
    background-color: #fabb3d;
  }

  .table tr {
    border-bottom: 1px solid #e9e9e9;
    height: 50px;
    outline: none;
  }

  .table input[type=number]::-webkit-inner-spin-button,
  .table input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .table input[type=checkbox] {
    position: relative;
    visibility: hidden;
    cursor: pointer;
    margin-right: 30px;
  }

  .table input[type=checkbox]:after {
    display: block;
    content: "";
    position: absolute;
    top: -80%;
    right: -90%;
    visibility: visible;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 4px;
    background: white;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #49c6ad;
  }

  .table input[type=checkbox]:checked:after {
    content: "✔";
    background: #49c6ad;
  }

  #get-started-card img {
    width: 60px;
    height: 60px;
  }

  .radius {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .radius-left {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 0.5px solid white;
  }

  .radius-right {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
  }

  .table thead {
    font-size: 18px;
  }

  .table {
    font-size: 14px;
    text-align: center;
  }

  .add-group {
    display: block;
    width: 310px;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .add-group p {
    color: #49c6ad;
  }

  .add-group img {
    border: 1px;
    box-shadow: 0px 0px 0px 1px #e9e9e9;
    margin-bottom: 10px;
  }

  #upload img {
    width: 70px;
    height: 70px;
    border: 0.5px solid #e9e9e9;
  }

  #upload img:hover {
    border: 0.5px solid;
  }

  .add-user:hover, .csv:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #49c6ad;
  }

  .add-user {
    display: inline-block;
  }

  .or {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
  }

  .csv {
    display: inline-block;
  }

  .up-triangle {
    width: 0;
    height: 0;
    border-bottom: 10px solid #616161;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    display: inline-block;
  }

  .go-to-top {
    display: inline-block;
    width: 100%;
    text-align: right;
    margin-right: 5px;
    margin-bottom: 5px;

    a {
      display: inline-block;
    }
  }

  .file {
    margin-bottom: 8px;
  }

}
