<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Starteur | Unlock Your Potential</title>
    <meta name ="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no" >
    <link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="images/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="images/manifest.json">
    <link rel="shortcut icon" href="images/favicon.ico">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="images/mstile-144x144.png">
    <meta name="msapplication-config" content="images/browserconfig.xml">
    <meta name="theme-color" content="#25A599">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/starteur.css">
    <link rel="stylesheet" type="text/css" href="css/landing.css">
    <link rel="stylesheet" type="text/css" href="css/modal.css">
    <link rel="stylesheet" type="text/css" href="css/filmstrip.css">
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/landing.js" language="javascript"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  </head>

  <body class="preload" onLoad="removePreload()">
    <!------ HEADER ------>
    <div id="top-break" class="sm-break large-screen"></div>
    <div id="header-wrapper" class="large-screen">
      <div class="center-block"> <img class="header-logo" src="images/header-logo.png">
        <div class="sign-in"><a href="#login">Already have an account? <span class="emphasis">Sign in here.</span></a></div>
      </div>
    </div>
    <!------ MOBILE HEADER ------>
    <div id="mobile-header" class="small-screen"> </div>
    <!------ PRELOADING PRIORITY IMAGES ------>
    <div class="large-screen preload-images"> <img src="images/hero-frame-20.png"><img src="images/discover-filmstrip.png"><img src="images/understand-filmstrip.png"><img src="images/develop-filmstrip.png"> </div>
    <!------ SPLASH ------>
    <div id="splash-wrapper" class="center-block">
      <h1 class="small-screen">You are more talented than you imagine</h1>
      <div class = "filmstrip-size-wrapper large-screen">
        <div class="filmstrip-outer-wrapper hero-image">
          <div class="filmstrip-wrapper">
            <div class="filmstrip"></div>
          </div>
        </div>
      </div>
      <img class="med-screen-hero-image" src="images/hero-image-static.png">
      <div class="sm-break large-screen"></div>
      <div class="description">
        <h1 class="large-screen">You are more talented than you imagine</h1>
        <h2> Starteur helps you discover, understand and develop your hidden entrepreneurial talents. </h2>
        <a class="button small-screen" href="#signup">Start now</a>
        <div class="sign-in small-screen"><a href="#login">Already have an account? <span class="emphasis">Sign in here.</span></a></div>
      </div>
      <form id="splash-signup" class="signup-form large-screen">
        <input type="text" class="input-box first-name" placeholder="First name" name="firstname">
        <input type="text" class="input-box last-name" placeholder="Last name" name="lastname">
        <input type="email" class="input-box" placeholder="Email" name="email">
        <input type="password" class="input-box" placeholder="Password" name="password">
        <input type="checkbox" name="agreetoterms">
        <span class="tos">I agree to the <a href="terms.html">terms of service</a>.</span>
        <input id="sign-up-button-top" type="submit" class="button" value="Sign up">
      </form>
      <div class="small-screen portrait"><img class="hero-image-square" src="images/hero-image-square.png"></div>
      <div class="small-screen landscape"><img class="hero-image-square" src="images/hero-image-static.png"></div>
    </div>
    <!------ DISCOVER ------>
    <div id="discover-wrapper" class="feature-wrapper center-block">
      <h1 class="small-screen">Discover.</h1>
      <div class="filmstrip-outer-wrapper discover-image right-image">
        <div class="filmstrip-wrapper">
          <div class="filmstrip"></div>
        </div>
      </div>
      <div class="description left">
        <h1 class="large-screen">Discover.</h1>
        <h2>Backed by extensive research, Starteur analyzes your answers to a list of questions and reveals your strengths and entreprenuerial potential.</h2>
      </div>
    </div>

    <!------ UNDERSTAND ------>
    <div id="understand-wrapper" class="feature-wrapper center-block">
      <h1 class="small-screen">Understand.</h1>
      <div class="filmstrip-outer-wrapper understand-image left-image">
        <div class="filmstrip-wrapper">
          <div class="filmstrip"></div>
        </div>
      </div>
      <div class="description right">
        <h1 class="large-screen">Understand.</h1>
        <h2>Recieve your own unique Starteur Profile Report and gain critical insights on your many strengths and attributes.</h2>
      </div>
    </div>
    <!------ DEVELOP ------>
    <div id="develop-wrapper" class="feature-wrapper center-block">
      <h1 class="small-screen">Develop.</h1>
      <div class="filmstrip-outer-wrapper develop-image right-image">
        <div class="filmstrip-wrapper">
          <div class="filmstrip"></div>
        </div>
      </div>
      <div class="description left">
        <h1 class="large-screen">Develop.</h1>
        <h2>With personalized growth tips provided by Starteur, you will be reaching your full entreprenuerial potential in no time.</h2>
      </div>
    </div>
    <!------ SIGNUP ------>
    <div id="signup">
      <div class="center-block">
        <h2>Start now.</h2>
        <form id="footer-signup" class="signup-form center-horizontal">
          <input type="text" class="input-box first-name" placeholder="First name" name="firstname">
          <input type="text" class="input-box last-name" placeholder="Last name" name="lastname">
          <input type="email" class="input-box" placeholder="Email" name="email">
          <input type="password" class="input-box" placeholder="Password" name="password">
          <input type="checkbox" name="agreetoterms">
          <span class="tos">I agree to the <a href="terms.html">terms of service</a>.</span>
          <input type="submit" class="button" value="Sign up">
        </form>
        <div class="sign-in small-screen"><a href="#login">Already have an account? <span class="emphasis">Sign in here.</span></a></div>
      </div>
    </div>
    <!------ FOOTER ------>
    <div id="footer-wrapper">
      <div class=" center-block">
        <div class="divider large-screen"></div>
        <div class="links"><a href="terms.html">About Us</a>
          <div class="tab"></div>
          <a href="terms.html">Terms</a>
          <div class="tab"></div>
          <a href="terms.html">FAQ</a></div>
        <div class="copyright">&copy; 2015 Starteur<br />
          All rights reserved</div>
      </div>
    </div>
    <!------ DIALOGS ------>
    <div id="login" class="modal-dialog">
      <div class="main"> <a href="#close"><img class="close" src="images/close-icon.png"></a>
        <h2>Sign in</h2>
        <div class="content">
          <form id="sign-in-form">
            <input type="email" class="input-box" placeholder="Email" name="email">
            <input type="password" class="input-box" placeholder="Password" name="password">
            <p>
            <input type="checkbox" name="rememberme">
            <span class="tos">Remember me</span></p>
            <input id="sign-up-button-bottom" type="submit" class="button" value="Sign in" formaction="signin.html">
          </form>
          <div class="forgot-password"><a href="#">Forgot your password?</a></div>
        </div>
      </div>
    </div>
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-42637034-2', 'auto');
ga('send', 'pageview');

    </script>
  </body>
</html>
